<div class="shipping-main-form" xmlns="http://www.w3.org/1999/html">
  <p class="shipping-main-title">Delivery address</p>
  <div>
    <form [formGroup]="deliveryToHomeForm">
      <div>
        <app-display-user-information
          [deliveryInformation]="defaultDeliveryInformation"
          (selectedDeliveryInformation)="handleSelectedDeliveryInformation($event)">
        </app-display-user-information>
      </div>
      <mat-divider></mat-divider>
      <div>
        <div>
          <strong>Wanted delivery time</strong>
        </div>
        <mat-radio-group formControlName="time">
          <div>
            <mat-radio-button value="1">08:00 - 18:00</mat-radio-button>
          </div>
          <div>
            <mat-radio-button value="2">18:00 - 22:00</mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
      <mat-divider></mat-divider>
      <div class="shipping-additional-information">
        <mat-form-field appearance="fill">
          <mat-label>Additional information</mat-label>
          <textarea matInput formControlName="additionalInformation"></textarea>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
    </form>
  </div>
  <p class="shipping-main-information" *ngIf="this.user?.deliveryInformation.length === 0">
    Enter the persons information who is going to take
    order and correct address.
    If you buy as a company, companies information will be able to enter in next step.</p>
</div>
