@import "src/mixin";

.shipping-main-information {
  @include information-text-style;
}

.shipping-additional-information {
  padding-top: 25px;
  padding-bottom: 5px;
}

.shipping-additional-information .mat-form-field {
  width: 100%;
}
