@import "src/mixin";

.order-information-row {
  display: inline-flex;
  justify-content: space-between;
  vertical-align: middle;
  width: 100%;
}

.order-information-row-two-items {
  display: inline-flex;
  vertical-align: middle;
  text-decoration: none;
}

.last-row {
  padding-bottom: 10px;
}

.discount-button button {
  @include buying-button;
  width: 92%;
}

.discount-wrapper {
  padding: 15px 0;
}

.order-total-sum {
  padding-top: 15px;
  display: inline-flex;
  font-weight: 600;
  justify-content: space-between;
  width: 100%;
}

.order-delivery-information-wrapper {
  text-align: left;
  padding-top: 15px;
}

.order-delivery-information {
  font-weight: 500;
  display: inline-flex;
  width: 100%;
  vertical-align: middle;
  padding: 10px 0;
}

.icon-display {
  transform: scale(.8);
}

.inline-components {
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
}

.order-delivery-header {
  padding-top: 8px;
}

:host {
  ::ng-deep {
    .mat-expansion-panel {
      border: 1px solid #e6e6e6;
      box-shadow: unset;
    }
  }
}

::ng-deep .white-snackbar {
  background: white;
  color: #302d2d;
}

.disabled-button button {
  @include buying-button;
  color: rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.12);
}
