<div class="shipping-order-information">
  <mat-accordion>
    <mat-expansion-panel hideToggle [expanded]="orderInformationPanelOpenState">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Order information
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <div class="order-information-row">
          <div><strong>Cart</strong></div>
          <div>
            <div class="order-information-row-two-items">
              <a [routerLink]="['/cart']" class="order-information-row-two-items">
                <mat-icon>remove_red_eye</mat-icon>
                <div>Review</div>
              </a>
            </div>
          </div>
        </div>
        <div class="order-information-row">
          <div>{{amountOfItems}} item</div>
          <div>{{totalSumOfAllItemsSubject | number : '1.2-2'}} €</div>
        </div>
        <div class="order-information-row last-row" *ngIf="shippingOption !== 'withdrawal'">
          <div>Delivery</div>
          <div>{{deliveryCost}} €</div>
        </div>
        <mat-divider></mat-divider>
        <div class="discount-wrapper">
          <div>
            <mat-form-field appearance="fill">
              <input matInput placeholder="Discount code">
            </mat-form-field>
          </div>
          <div class="discount-button">
            <button mat-raised-button>Check</button>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="order-total-sum">
          <div>Total</div>
          <div>{{totalSumOfAllItemsSubject + deliveryCost | number : '1.2-2'}} €</div>
        </div>
        <div class="order-delivery-information-wrapper">
          <div class="order-delivery-information">
            <div class="order-delivery-header">Delivery</div>
            <button mat-button class="inline-components" matStepperPrevious>
              <mat-icon class="icon-display">edit</mat-icon>
              Change
            </button>
          </div>
          <div *ngIf="shippingOption === 'toHome'">
            <div
              class="order-delivery-information">{{user.deliveryInformation[0].firstName}} {{user.deliveryInformation[0].lastName}}</div>
            <mat-divider></mat-divider>
            <div
              class="order-delivery-information">{{user.deliveryInformation[0].address}} {{user.deliveryInformation[0].postalCode}} {{user.deliveryInformation[0].city}}</div>
            <mat-divider></mat-divider>
            <div class="order-delivery-information">Wanted delivery time</div>
            <div class="order-delivery-information"
                 *ngIf="deliveryToHomeForm.get('time').value === '1'">08:00-18:00
            </div>
            <div class="order-delivery-information"
                 *ngIf="deliveryToHomeForm.get('time').value === '2'">18:00-22:00
            </div>
          </div>
          <div *ngIf="shippingOption === 'withdrawal'">
            <div class="order-delivery-information">To client center
              at {{withdrawalAtClientCenterForm.get('withdrawalLocation').value}}</div>
            <mat-divider></mat-divider>
            <div class="order-delivery-information">Information of the withdrawing person:</div>
            <mat-divider></mat-divider>
            <div
              class="order-delivery-information">{{user.deliveryInformation[0].firstName}} {{user.deliveryInformation[0].lastName}} {{user.deliveryInformation[0].phoneNumber}}</div>
          </div>
          <div *ngIf="shippingOption === 'withdrawalFromLocation'">
            <div class="order-delivery-information">Location {{withdrawalFromLocationForm.get('locationOfWithdrawal').value}}
            </div>
            <div class="order-delivery-information">Information of the withdrawing person:</div>
            <div
              class="order-delivery-information">{{user.deliveryInformation[0].firstName}} {{user.deliveryInformation[0].lastName}} {{user.deliveryInformation[0].phoneNumber}}</div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
