<div class="checkout-container">
  <div class="checkmark-container">
    <div class="checkmark">
      <div class="checkmark_stem"></div>
      <div class="checkmark_kick"></div>
    </div>
  </div>
  <div class="checkout-success-text-container">
    <div>Payment Successful</div>
    <div>Thank you for your order with site, we will start provisioning your</div>
    <div> items right now and keep you updated!</div>
    <div>
      <button mat-button>RETURN TO HOMEPAGE</button>
    </div>
  </div>
</div>
