.category-grid-columns {
  display: grid;
  font-family: Roboto;
  grid-template-columns: 30% 70%;
}

.category-grid-column1 {
  border: 1px solid #e6e6e6;
  padding-bottom: 20px;
}

.category-grid-column2 {
  margin-left: 30px;
}

.category-column-wrapper2 {
  border: 1px solid #e6e6e6;
}

.category-column-header1 {
  font-size: 16px;
  padding: 30px;
}

.category-column-additional {
  font-size: 16px;
  padding: 0 30px 5px 30px;
}

.link-style {
  color: unset;
}

.category-grid-template {
  display: grid;
  font-family: Roboto;
  font-size: 12px;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}

.category-column-header2 {
  border: 1px solid #e6e6e6;
  font-size: 24px;
  padding: 15px;
  margin-bottom: 15px;
}

.container {
  max-width: 1280px;
  padding: 10px 0;
}

@media (max-width: 1000px) {
  .category-grid-template {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 740px) {
  .category-grid-template {
    grid-template-columns: repeat(1, 1fr);
    font-size: 10px;
  }
  .category-column-additional {
    font-size: 12px;
  }
}

@media (max-width: 464px) {
  .category-column-additional {
    font-size: 8px;
  }
  .category-column-header1 {
    font-size: 12px;
  }
}
