@import "src/mixin.scss";

.host {
  display: block;
  max-width: 250px;
  background-color: #FFFFFF;
  height: 100%;
  padding-top: 10px;
}

.item {
  width: 100%;
}

.facebook-popover {
  float: left;
  padding: 0 80px 0 20px;
  width: 45%;
}

.google-popover {
  float: left;
  padding-left: 40px;
}

.login-button button {
  @include background-red;
  height: 80%;
  color: white;
  width: 100%;
  margin: 10px 0 0 0;
}

.register-popover,
.login-button {
  margin: 10px 0 0 0;
  padding: 0 20px 20px 20px;
}

.register-popover span {
  font-size: 12px;
  font-weight: 600;
  padding-right: 10px;
}

.register-popover button {
  @include background-red;
  height: 80%;
  color: white;
  width: 100%;
  margin-top: 10px;
}
