<div class="host">
  <div class="item">
    <div class="facebook-popover">
      <button mat-button>
        <mat-icon>facebook-box</mat-icon>
        Facebook
      </button>
    </div>
    <div class="google-popover">
      <button mat-button> Google</button>
    </div>
    <div class="login-button">
      <a href="/login">
        <button mat-button>SIGN IN!</button>
      </a>
    </div>
    <mat-divider></mat-divider>
    <div class="register-popover">
      <span>Don't have an account ?</span>
      <a href="/register">
        <button mat-button>SIGN UP!</button>
      </a>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>
