<div class="container">
  <div [ngClass]="{
  'button-and-header' : true,
  'disabled-checkout-button' : cart.cartItems.length == 0
  }">
    <h2>Cart</h2>
    <button
      [disabled]="cart.cartItems.length == 0" mat-button>Continue
      <mat-icon>arrow_right_alt</mat-icon>
    </button>
  </div>
  <div class="header-info">
    <span class="product-column">Products</span>
    <span class="price-column">Price</span>
    <span class="quantity-column">Quantity</span>
    <span class="total-column">Total</span>
  </div>
  <div *ngFor="let item of cart.cartItems">
    <div class="item-container">
      <div class="picture">
        <img
          src="{{item.picture}}"
          alt="{{item.itemName}}">
      </div>
      <div class="name">
        <div>
          <a>{{item.itemName}}</a>
          <p class="code-color">Product code: {{item.itemCode}}</p>
        </div>
        <div class="delivery-icon">
          <mat-icon
            matTooltip="Will be delivered in 2 days">
            directions_car
          </mat-icon>
        </div>
      </div>
      <div class="price">
        {{item.itemPrice | number : '1.2-2'}} €
      </div>
      <div class="quantity">
        <button mat-icon-button (click)="decreaseQuantity(item)" *ngIf="item.itemQuantity >= 2">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
        <div class="empty-space" *ngIf="!(item.itemQuantity >= 2)">
        </div>
          <input
            type="number"
            (keypress)="keyPressNumbers($event, item)"
            [(ngModel)]="item.itemQuantity">
        <button mat-icon-button (click)="increaseQuantity(item)">
          <mat-icon>control_point</mat-icon>
        </button>
      </div>
      <div class="total">
        <p><strong>{{item.itemQuantity * item.itemPrice | number : '1.2-2'}} €</strong></p>
      </div>
    </div>
    <div class="warranty">
      <div class="normal-warranty">
        <mat-checkbox [(ngModel)]="item.itemInsurance" class="example-margin"><a>Product Insurance</a></mat-checkbox>
        <p>Insure new purchase and save up to 80% of product price</p>
      </div>
      <div class="extended-warranty">
        <mat-checkbox [(ngModel)]="item.itemWarranty" class="example-margin"><a>Extended warranty</a></mat-checkbox>
        <p>Free item repair</p>
      </div>
      <div class="remove-item">
        <button mat-button (click)="removeItemFromCart(item)">
          <mat-icon>close</mat-icon>
          Remove item
        </button>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="delivery">
      <app-cart-delivery></app-cart-delivery>
    </div>
    <div class="total-price">
      <app-cart-total></app-cart-total>
    </div>
  </div>
</div>
