<div class="container">
  <div class="button-and-header">
    <h2>Cart {{cartList.length}}</h2>
    <button mat-button>Continue
      <mat-icon>arrow_right_alt</mat-icon>
    </button>
  </div>
  <div class="header-info">
    <span class="product-column">Products</span>
    <span class="price-column">Price</span>
    <span class="quantity-column">Quantity</span>
    <span class="total-column">Total</span>
  </div>
  <div *ngFor="let item of cartList">
    <div class="item-container">
      <div class="picture">
        <img
          src="{{item.picture}}"
          alt="{{item.productName}}">
      </div>
      <div class="name">
        <div>
          <a>{{item.productName}}</a>
          <p class="code-color">Product code: {{item.productCode}}</p>
        </div>
        <div style="padding-top: 40px">
          <mat-icon
            matTooltip="Will be delivered in 2 days">
            directions_car
          </mat-icon>
        </div>
      </div>
      <div class="price">
        {{item.price}} €
      </div>
      <div class="quantity">
        <button mat-icon-button (click)="decreaseQuantity(item)" *ngIf="item.quantity >= 2">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
        <div class="empty-space" *ngIf="!(item.quantity >= 2)">
        </div>
        <input
          matInput
          (change)="handleNegativeValue($event)"
          [(ngModel)]="item.quantity">
        <button mat-icon-button (click)="increaseQuantity(item)">
          <mat-icon>control_point</mat-icon>
        </button>
      </div>
      <div class="total">
        <p><strong>{{item.quantity * item.price}} €</strong></p>
      </div>
    </div>
    <div class="warranty">
      <div class="normal-warranty">
        <mat-checkbox [(ngModel)]="item.insurance" class="example-margin"><a>Product Insurance</a></mat-checkbox>
        <p>Insure new purchase and save up to 80% of product price</p>
      </div>
      <div class="extended-warranty">
        <mat-checkbox [(ngModel)]="item.warranty" class="example-margin"><a>Extended warranty</a></mat-checkbox>
        <p>Free item repair</p>
      </div>
      <div class="remove-item">
        <button mat-button (click)="removeItemFromCart(item)">
          <mat-icon>close</mat-icon>
          Remove item
        </button>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="delivery">
      <app-cart-delivery></app-cart-delivery>
    </div>
    <div class="total-price">
      <app-cart-total></app-cart-total>
    </div>
  </div>
</div>
