@import "src/mixin.scss";

.stack {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  margin: auto;
  width: 100%;
  padding: 60px;
  text-align: center;
  justify-content: center;
}

.register {
  width: 50%;
  @include default-border;
  padding: 30px 80px;
  background-color: white;
}

.error {
  color: red;
  margin-bottom: 20px;
}

.register span {
  font-size: 28px;
}

.back-to-login {
  font-size: 14px;
  padding: 10px;
  text-align: center;
}
