<div class="small-details">
  <a [routerLink]="['', item.id]">{{item?.name}} "</a>
  <span class="description">Screen size: <span><strong>{{item?.screenSize}}
    "</strong></span></span>
  <span
    class="description">Installed operational system: <span><strong>{{item?.operationalSystem}}</strong></span></span>
  <span
    class="description">Amount of RAM: <span><strong>{{item?.amountOfRam}}</strong></span></span>
  <span class="description">Hard drive space (HDD): <span> <strong>–</strong></span></span>
  <span
    class="description">SSD space: <span> <strong>{{item?.dataStorageSize}}</strong></span></span>
  <span class="availability"><mat-icon>brightness_1</mat-icon>Delivery</span>
  <span class="availability"><mat-icon>brightness_1</mat-icon>Collect</span>
</div>
<a class="add-comparison">Add for comparison</a>
