@import "src/mixin.scss";

.container {
  width: 100%;
  padding: 0;
}

.header {
  @include default-border;
  height: 45px;
  background: #f9f9f9;
  color: #666;
  font-size: 14px;
  padding: 13px 0 0 20px;
}

.icon-align {
  vertical-align: middle;
  margin-right: 10px;
}
.text {
  display: inline;
}

.delivery-display {
  padding: 20px 0 20px 20px;
}

.deliver-info {
  font-size: 10px;
  color: #666;
  padding-left: 35px;
}

@media (max-width: 550px) {
  .text,
  .deliver-info {
    font-size: 8px;
  }
  .header {
    font-size: 12px;
  }
}

@media (max-width: 415px) {
  .text,
  .deliver-info {
    font-size: 6px;
  }
  .header {
    font-size: 10px;
  }
}
