<div class="top-header">
  <button mat-button>About us</button>
  <button mat-button>Payment</button>
  <button mat-button>Delivery</button>
  <button mat-button>Return and warranty</button>
  <button mat-button>FAQ</button>
  <button mat-button>App</button>
  <button mat-button>Delivery information</button>
  <button mat-button class="important">IMPORTANT INFORMATION!</button>
  <div class="separate-buttons">
    <button mat-button color="primary">Service centers</button>
    <button mat-button>Contacts</button>
  </div>
</div>
<div class="bottom-header" *ngIf="shouldDisplayHeader()">
  <a routerLink="/" routerLinkActive="active">
    <span class="title">{{title}}</span>
  </a>
  <input matInput placeholder="Enter what you're searching">
  <button mat-button style="color: black; background-color: green">
    <mat-icon>search</mat-icon>
  </button>
  <a routerLink="/login" routerLinkActive="active">
    <popover-content #popover>

    </popover-content>
    <div class="user-form"
         [popover]="popover"
         popoverPlacement="bottom"
         [popoverOnHover]="true"
         [popoverCloseOnClickOutside]="false"
         [popoverCloseOnMouseOutside]="true"
         [popoverDisabled]="false"
         [popoverAnimation]="true">
      <mat-icon>person_pin</mat-icon>
      Register/Login
    </div>
  </a>
  <a routerLink="/cart" routerLinkActive="active">
    <button mat-icon-button>
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </a>
</div>
