.top-header {
  font-family: Roboto, sans-serif;
  background-color: black;
  font-size: 12px;
  text-align: center;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.separate-buttons {
  padding-left: 40px;
  display: inline;
}

.mat-button {
  font-size: 12px;
  color: white;
}

.important {
  background-color: red;
}

.bottom-header {
  padding: 5px 0 0 0;
  height: 50px;
  text-align: center;
  width: 100%;
  background-color: #302d2d;
  text-underline: none;
}

.bottom-header input {
  text-align: left;
  background-color: white;
  border-radius: 2px;
  padding: 0 0 0 30px;
  margin: 0 0 2px 0;
  height: 34px;
  width: 550px;
}

.title {
  color: white;
  padding: 0 20px 0 0;
}

.mat-icon {
  color: white;
  vertical-align: middle;
}

.user-form {
  margin: 0 0 0 10px;
  color: white;
}

.spinner-for-header {
  display: inline-flex;
  justify-content: center;
}

.header-login-block {
  display: inline-flex;
  height: 30px;
  justify-content: center;
  width: 147px;
}

@media (max-width: 1000px) {
  .wishlist-button-in-header {
    display: none;
  }
}

@media (max-width: 864px) {
  .bottom-header input {
    width: 300px;
  }
}

@media (max-width: 640px) {
  .bottom-header input {
    width: 150px;
  }
}

@media (max-width: 476px) {
  .bottom-header input {
    width: 35px;
  }
}
