<div class="top-header">
  <button mat-button>About us</button>
  <button mat-button>Payment</button>
  <button mat-button>Delivery</button>
  <button mat-button>Return and warranty</button>
  <button mat-button>FAQ</button>
  <button mat-button>App</button>
  <button mat-button>Delivery information</button>
  <button mat-button class="important">IMPORTANT INFORMATION!</button>
  <div class="separate-buttons">
    <button mat-button color="primary">Service centers</button>
    <button mat-button>Contacts</button>
  </div>
</div>
<div class="bottom-header">
  <a routerLink="/" routerLinkActive="active">
    <span class="title">{{title}}</span>
  </a>
  <input matInput placeholder="Enter what you're searching">
  <button mat-button style="color: black; background-color: green">
    <mat-icon>search</mat-icon>
  </button>
  <div class="header-login-block">
    <a routerLink="/login" routerLinkActive="active" *ngIf="!isUserLoggedIn && !isLoading">
      <button mat-button class="user-form" [mdePopoverTriggerFor]="loginPopover"
              mdePopoverTriggerOn="hover">
        <mat-icon>person_pin</mat-icon>
        Register/Login
      </button>
    </a>
    <a routerLink="/profile" routerLinkActive="active" *ngIf="isUserLoggedIn && !isLoading">
      <button mat-button class="user-form" [mdePopoverTriggerFor]="userPopover"
              mdePopoverTriggerOn="hover">
        <mat-icon>assignment_ind</mat-icon>
        Hi, {{userFirstName}}!
      </button>
    </a>
    <div class="spinner-for-header" *ngIf="isLoading">
      <mat-spinner
        [diameter]="20"
      ></mat-spinner>
    </div>
  </div>
  <a routerLink="/cart" routerLinkActive="active">
    <button mat-icon-button [mdePopoverTriggerFor]="cartPopover" mdePopoverTriggerOn="hover">
      <mat-icon matBadge="{{listOfItems.length}}" matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
  </a>
  <a routerLink="/wishlist" routerLinkActive="active">
    <button mat-button>Wishlist</button>
  </a>
</div>

<mde-popover #cartPopover [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="false"
             [mdePopoverOffsetX]="-16" [mdePopoverOffsetY]="-10" [mdePopoverArrowOffsetX]="58"
             mdePopoverArrowColor="#FFFFFF">
  <app-cart-popover></app-cart-popover>
</mde-popover>

<mde-popover #loginPopover [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="false"
             [mdePopoverOffsetX]="-16" [mdePopoverOffsetY]="-10" [mdePopoverArrowOffsetX]="58"
             mdePopoverArrowColor="#FFFFFF">
  <app-login-popover></app-login-popover>
</mde-popover>

<mde-popover #userPopover [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="false"
             [mdePopoverOffsetX]="-16" [mdePopoverOffsetY]="-10" [mdePopoverArrowOffsetX]="58"
             mdePopoverArrowColor="#FFFFFF">
  <app-login-user-menu></app-login-user-menu>
</mde-popover>
