@import "src/mixin";

.orders-second-header {
  border: 1px solid #e1e1e1;
  background: white;
  padding: 20px 50px;
}

.mat-expansion-panel-header {
  padding: 0 50px;
}

.order-information {
  width: 100%;
  padding: 0 100px 0 0;
}

.order-information-container {
  display: inline-flex;
}

.order-information-header {
  font-size: 10px;
  color: #999999;
}

.order-information-description {
  font-size: 14px;
  font-weight: 500;
}

.order-description-container {
  width: 100%;
  padding: 0 0 0 25px
}

.order-description-row {
  border-bottom: 1px solid #e1e1e1;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 10px;
  width: 100%;
}

.order-description {
}

.order-amount-of-items {
  font-weight: 500;
  color: black;
  padding-bottom: 15px;
}

.order-description-name-column {
  width: 60%;
}

.order-description-other-column {
  font-size: 12px;
  color: black;
  width: 20%;
}

.amount {
  color: black;
  font-weight: 570;
}

.order-product-name {
  color: black;
}

.order-product-code {
  font-size: 10px;
  font-weight: 500;
}

.order-other {
  border: 1px solid #e1e1e1;
  background: white;
  display: inline-flex;
  justify-content: space-between;
  padding: 20px 50px 20px 50px;
  width: 100%;
}

.order-other-container {
  width: 33.33%;
  padding-right: 10px;
}

.order-other-header {
  color: #999;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 5px;
}

.order-other-description {
  padding-top: 5px;
}

.ordered-items-list-container {
  background: white;
  margin-top: 10px;
}

.ordered-items-list-header {
  padding: 10px 50px 10px 50px;
  width: 100%;
}

.ordered-items-list-table-header {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  background: #fafafa;
  display: inline-flex;
  justify-content: space-between;
  padding: 10px 50px 10px 50px;
  width: 100%;
}

.ordered-items-list-table-header-column {
  font-size: 12px;
  text-transform: uppercase;
  width: 15%;
}

.ordered-items-list-content {
  background: white;
  display: inline-flex;
  justify-content: space-between;
  padding: 30px 50px 10px 50px;
  width: 100%;
}

.ordered-items-list-content-column {
  font-size: 12px;
  width: 15%;
}

.item {
  width: 55%;
}

.ordered-item-image {
  padding: 0 10px 0 0;
}

.ordered-item-image img {
  height: 120px;
  width: 80px;
}

.inline-divs {
  display: inline-flex;
}

.ordered-items-total {
  text-align: right;
  padding: 10px 50px 10px 50px;
}

h3 {
  display: inline-flex;
}
