<div class="orders-second-header">
  <h3>Order Nr. A000251723</h3>
  <div>
    <span>Order date: 2021-12-16</span>
  </div>
  <div>
    <span>Renewed: 2021-12-23</span>
  </div>
</div>
<div>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="order-information-container">
            <div class="order-information">
              <div class="order-information-header">Delivery Nr.</div>
              <div class="order-information-description">FBGHDDNN</div>
            </div>
            <div class="order-information">
              <div class="order-information-header">Withdrawal date</div>
              <div class="order-information-description">2021-12-29</div>
            </div>
            <div class="order-information">
              <div class="order-information-header">Total</div>
              <div class="order-information-description">263,39 €</div>
            </div>
          </div>
          <div>
            <mat-chip-list>
              <mat-chip color="primary">
                Delivered
              </mat-chip>
            </mat-chip-list>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <div class="order-description-container">
          <div class="order-description">
            <div>
              Items: 2
            </div>
            <div class="order-description-table">
              <div>
                <div>Mobilusis telefonas Xiaomi Redmi Note 10 5G, pilkas, 4GB/128GB</div>
                <div>Prekės kodas: 960728</div>
              </div>
              <div>
                1 vnt.
              </div>
              <div>
                244,25 €
              </div>
            </div>
          </div>
        </div>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
</div>
