<div class="orders-second-header">
  <h3>Order Nr. A000251723</h3>
  <div>
    <span>Order date: 2021-12-16</span>
  </div>
  <div>
    <span>Renewed: 2021-12-23</span>
  </div>
</div>
<div>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="order-information-container">
            <div class="order-information">
              <div class="order-information-header">Delivery Nr.</div>
              <div class="order-information-description">FBGHDDNN</div>
            </div>
            <div class="order-information">
              <div class="order-information-header">Withdrawal date</div>
              <div class="order-information-description">2021-12-29</div>
            </div>
            <div class="order-information">
              <div class="order-information-header">Total</div>
              <div class="order-information-description">244,25 €</div>
            </div>
          </div>
          <div>
            <mat-chip-list>
              <mat-chip color="primary">
                Delivered
              </mat-chip>
            </mat-chip-list>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <div class="order-description-container">
          <div class="order-description">
            <div class="order-amount-of-items">
              Items: 2
            </div>
            <mat-divider></mat-divider>
            <div class="order-description-row">
              <div class="order-description-name-column">
                <div class="order-product-name">Mobile phone Xiaomi Redmi Note 10 5G, gray,
                  4GB/128GB asdasdasd asdasdasd aasdasdasda asdasdasd aadssad asd
                </div>
                <div class="order-product-code">Product code: 960728</div>
              </div>
              <div class="order-description-other-column">
                1 vnt.
              </div>
              <div class="order-description-other-column amount">
                244,25 €
              </div>
            </div>
          </div>
        </div>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="order-other">
    <div class="order-other-container">
      <div class="order-other-header">WITHDRAWAL FROM LOCATION</div>
      <mat-divider></mat-divider>
      <div class="order-other-description"> DPD
        Items can be withdrown address Savanorių pr. 346, PC SAVAS DPD paštomatas 112 </div>
    </div>
    <div class="order-other-container">
      <div class="order-other-header">PAYMENT METHOD</div>
      <mat-divider></mat-divider>
      <div class="order-other-description">Swedbank el. bank</div>
    </div>
    <div class="order-other-container">
      <div class="order-other-header">DOCUMENTS</div>
      <mat-divider></mat-divider>
      <div class="order-other-description">Invoice</div>
    </div>
  </div>
</div>
