<div class="orders-second-header">
  <h3>Order Nr. {{order?.orderNumber || ""}}
    <mat-chip-list>
      <mat-chip color="primary">
        {{order?.status || ""}}
      </mat-chip>
    </mat-chip-list>
  </h3>
  <div>
    <span>Order date: {{order?.orderDate || ""}}</span>
  </div>
  <div>
    <span>Renewed: {{order?.orderUpdate || ""}}</span>
  </div>
</div>
<div>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="order-information-container">
            <div class="order-information">
              <div class="order-information-header">Delivery Nr.</div>
              <div class="order-information-description">FBGHDDNN</div>
            </div>
            <div class="order-information">
              <div class="order-information-header">Withdrawal date</div>
              <div class="order-information-description">2021-12-29</div>
            </div>
            <div class="order-information">
              <div class="order-information-header">Total</div>
              <div class="order-information-description">{{order?.totalPrice || ""}} €</div>
            </div>
          </div>
          <div>
            <mat-chip-list>
              <mat-chip color="primary">
                Delivered
              </mat-chip>
            </mat-chip-list>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <div class="order-description-container">
          <div class="order-description">
            <div class="order-amount-of-items">
              Items: {{order?.orderedItems?.length || ""}}
            </div>
            <mat-divider></mat-divider>
            <div *ngIf="order?.orderedItems != undefined">
              <div class="order-description-row" *ngFor="let orderedItem of order?.orderedItems">
                <div class="order-description-name-column">
                  <div class="order-product-name">{{orderedItem?.itemName || ""}}</div>
                  <div class="order-product-code">Product code: {{orderedItem?.itemCode || ""}}</div>
                </div>
                <div class="order-description-other-column">
                  {{orderedItem?.itemQuantity || ""}} vnt.
                </div>
                <div class="order-description-other-column amount">
                  {{orderedItem?.itemPrice * orderedItem?.itemQuantity || ""}} €
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="order-other">
    <div class="order-other-container">
      <div class="order-other-header">WITHDRAWAL FROM LOCATION</div>
      <mat-divider></mat-divider>
      <div class="order-other-description"> DPD
        Items can be withdrown address Savanorių pr. 346, PC SAVAS DPD paštomatas 112
      </div>
    </div>
    <div class="order-other-container">
      <div class="order-other-header">PAYMENT METHOD</div>
      <mat-divider></mat-divider>
      <div class="order-other-description">Swedbank el. bank</div>
    </div>
    <div class="order-other-container">
      <div class="order-other-header">DOCUMENTS</div>
      <mat-divider></mat-divider>
      <div class="order-other-description">Invoice</div>
    </div>
  </div>
  <div class="ordered-items-list-container">
    <div class="ordered-items-list-header">
      Ordered items
    </div>
    <div class="ordered-items-list-table-header">
      <div class="ordered-items-list-table-header-column item">Items</div>
      <div class="ordered-items-list-table-header-column">Price (VNT.)</div>
      <div class="ordered-items-list-table-header-column">Amount</div>
      <div class="ordered-items-list-table-header-column">Total</div>
    </div>
    <div *ngIf="order?.orderedItems != undefined">
      <div class="ordered-items-list-content" *ngFor="let orderedItem of order?.orderedItems">
        <div class="ordered-items-list-content-column item inline-divs">
          <div class="ordered-item-image"><img
            src="{{orderedItem?.picture}}"
            alt="{{orderedItem?.itemName}}"></div>
          <div>
            <div>{{orderedItem?.itemName || ""}}</div>
            <div>Product code: {{orderedItem?.itemCode || ""}}</div>
          </div>
        </div>
        <div class="ordered-items-list-content-column">{{orderedItem?.itemPrice}} €</div>
        <div class="ordered-items-list-content-column">{{orderedItem?.itemQuantity}} vnt.</div>
        <div class="ordered-items-list-content-column"><strong>{{orderedItem?.itemPrice * orderedItem?.itemQuantity}} €</strong></div>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="ordered-items-total">
      <div>Delivery: 3.99 €</div>
      <div><strong>Total: {{order?.totalPrice}} €</strong></div>
    </div>
  </div>
</div>
