<div>
  <div class="card-display-container" *ngIf="productDisplay === 'card'">
    <div class="product-card-container"
         *ngFor="let item of items | paginate: { itemsPerPage: getSelectedAmountOfItemsInPage(), currentPage: currentPage, totalItems: totalElements }">
      <div class="product-card">
        <div class="image">
          <a [routerLink]="[item.id]" (click)="addItemToViewedItems(item)">
            <img src="{{item.picture}}">
          </a>
        </div>
        <div>
          <span>{{item.price | number : '1.2-2'}} € / vnt.</span>
        </div>
        <div class="product-price-and-options">
          <button mat-button (click)="addItemToCart(item)">
            <mat-icon>shopping_cart</mat-icon>
            To cart
          </button>
          <div class="product-link-box">
            <a class="product-link" [routerLink]="[item.id]" (click)="addItemToViewedItems(item)">{{item.name}} "</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-row-container" *ngIf="productDisplay === 'row'">
    <div class="product-row-hover" *ngFor="let item of items | paginate: { itemsPerPage: getSelectedAmountOfItemsInPage(), currentPage: currentPage, totalItems: totalElements }">
      <div class="display-grid-columns">
        <div class="image">
          <a [routerLink]="[item.id]" (click)="addItemToViewedItems(item)">
            <img src="{{item.picture}}">
          </a>
        </div>
        <div class="column2">
          <div class="product-link-box">
            <a class="product-link" [routerLink]="[item.id]" (click)="addItemToViewedItems(item)">{{item.name}} "</a>
          </div>
        </div>
        <div class="column3">
          <div><strong>{{item.price | number : '1.2-2'}} €</strong> / vnt.</div>
          <div>
            <div class="to-cart-button">
              <button mat-button (click)="addItemToCart(item)">
                <mat-icon>shopping_cart</mat-icon>
                To cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
