@import "src/mixin";

.card-display-container {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  padding-bottom: 40px;
}

.product-card-container {
  @include card-container;
  height: 350px;
  transition: height 0.1s;
}

.product-link {
  @include item-link;
}

.product-link-box {
  text-align: left;
  padding: 0 20px 0 20px;
}

.image {
  padding: 20px;
}

.image img {
  @include item-image-in-card;
}

.description {
  color: #999;
}

.description:before {
  content:"• ";
  color: black;
}

.description span{
  color: black;
}

.product-card:hover {
}

.product-card:hover button {
  display: inline;
}

.product-price-and-options button {
  @include buying-button;
  display: none;
}

.product-price-and-options {

}

.details-to-cart-button {
  height: 56px;
}
