@import "src/mixin";

.product-card-container {
  @include card-container;
  height: 650px;
  transition: height 0.1s;
}

.product-link {
  @include item-link;
}

.product-link-box {
  text-align: left;
  padding: 0 20px 0 20px;
}

@media screen and (max-width: 1200px) {
  .card-container {
    @include card-container-3
  }
}

@media screen and (max-width: 800px) {
  .card-container {
    @include card-container-2
  }
}

@media screen and (max-width: 500px) {
  .card-container {
    @include card-container-1
  }
}

.image {
  padding: 20px;
}

.image img {
  @include item-image-in-card;
}

.description {
  color: #999;
}

.description:before {
  content:"• ";
  color: black;
}

.description span{
  color: black;
}

.availability {
  padding-top: 6px;
}

.availability mat-icon {
  color: orange;
  vertical-align: middle;
}

.product-card-container:hover {
  transform: scale(1.04);
}

.product-card-container:hover .add-comparison {
  display: inline;
}

.product-price-and-options button:hover {
  display: inline;
}

.product-price-and-options button {
  @include buying-button;
  display: none;
}

.add-comparison {
  display: none;
}
