.container {
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
  background: white;
  font-family: Roboto, sans-serif;
  text-align: left;
  margin-top: 15px;
  padding-bottom: 100px;
}

.details {
  background: white;
  display: flex;
  height: 100%;
  width: 100%;
}

.details-picture {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50%;
}

.details-picture img {
  width: 90%;
}

.details-name {
  width: 40%;
  padding: 50px 0 0 0px;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 800;
  color: #444;
}

.detail-card {
  padding: 16px 0 0 0;
  width: 100%;
}

.code {
  font-size: 12px;
  font-weight: 100;
  color: #999;
}

.details-price {
  color: black;
}

.details-insurance {
  border: 1px solid #e1e1e1;
  display: block;
  font-size: 12px;
  font-weight: 200;
  height: 20%;
  margin-top: 10px;
}

.details-insurance div {
  padding: 10px 10px 30px 10px;
}

.details-insurance mat-checkbox {
  width: 100%;
}

.checkout {
  background: #f6f6f6;
  display: inline-flex;
  margin-top: 10px;
  float: left;
  width: 100%;
}

.checkout input {
  width: 18%;
  float: left;
  font-size: 12px;
  height: 30px;
  margin-top: 6px;
  text-align: center;
}

.checkout button {
  float: left;
}

.checkout-box {
  border-radius: 5px;
  background: #f6f6f6;
  margin-top: 10px;
  padding: 10px 10px 80px 10px;
}

.to-cart {
  display: inline-flex;
  padding: 20px 0 0 40px;
  position: relative;
  width: 100%;
}

.details-not-important-buttons{
  font-size: 14px;
  font-weight: 200;
  padding: 12px;
}

.details-delivery {
  padding: 20px 0 0 40px;
  font-size: 14px;
}

.details-delivery span {
  display: inline-block;
  width: 100%;
}

.delivery-text {
  display: inline-block;
  width: 100%;
  font-size: 11px;
  font-weight: 400;
}

.weight-text {
  display: inline-block;
  width: 100%;
  font-size: 8px;
  font-weight: 400;
}

.delivery-left {
  float: left;
  width: 10%;
}

.delivery-right {
  float: left;
  width: 80%;
}
