<div class="container">
  <div class="details">
    <div class="details-picture">
      <img src="{{laptop?.picture}}" alt="{{laptop?.name}}">
    </div>
    <div class="details-name">
      <div>
        <span>{{laptop?.name}}</span>
      </div>
      <div class="code">
        <span>Product code: {{laptop?.productCode}}</span>
      </div>
      <div class="details-price">
        <span>{{laptop?.price | number : '1.2-2'}} € / vnt.</span>
      </div>
      <div class="details-insurance">
        <div>
          <mat-checkbox>Item insurance</mat-checkbox>
          <span>Insurance new item and save up to 80% of it's price</span>
        </div>
      </div>
      <div class="details-insurance">
        <div>
          <mat-checkbox>Item warranty</mat-checkbox>
          <span>Free item repair</span>
        </div>
      </div>
      <div class="checkout-box">
        <div class="checkout">
          <button mat-icon-button>
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
          <div class="empty-space">
          </div>
          <input
            type="number"
            value="1">
          <button mat-icon-button>
            <mat-icon>control_point</mat-icon>
          </button>
        </div>
        <div class="to-cart">
          <button mat-raised-button color="warn" (click)="addItemToCart(laptop)">
            To cart
          </button>
          <div class="details-not-important-buttons">
            <button mat-button
                    [matMenuTriggerFor]="clickMenu"
                    #clickMenuTrigger="matMenuTrigger"
                    (click)="openMenuOnClick()">
              Like
            </button>
          </div>
          <div class="details-not-important-buttons">
            <span>Add for comparison</span>
          </div>
        </div>
        <div class="details-delivery">
          <div class="delivery-left">
            <mat-icon class="icon-align">
              directions_car
            </mat-icon>
          </div>
          <div class="delivery-right">
            <span>Delivery by courier</span>
            <span class="delivery-text">Get delivery to your home just for 3,99 €.</span>
            <span class="weight-text">Delivery price is calculated using administrative tax and product weight: {{laptop?.weight}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container general-information">
  <div class="title-box">
    <span>Product information</span>
  </div>
  <div class="description-type-box">
    <div class="description-title">General</div>
    <div class="information-box">
      <div class="type">Type</div>
      <div class="value">Laptop</div>
    </div>
    <div class="information-box">
      <div class="type">Series</div>
      <div class="value">{{laptop?.series}}</div>
    </div>
    <div class="information-box">
      <div class="type">Model</div>
      <div class="value">{{laptop?.model}}</div>
    </div>
    <div class="information-box">
      <div class="type">Weight</div>
      <div class="value">{{laptop?.weight}}</div>
    </div>
    <div class="information-box">
      <div class="type">Length</div>
      <div class="value">{{laptop?.length}}</div>
    </div>
  </div>
  <div class="description-type-box">
    <div class="description-title">Screen</div>
    <div class="information-box">
      <div class="type">Screen size</div>
      <div class="value">{{laptop?.screenSize}}</div>
    </div>
    <div class="information-box">
      <div class="type">Resolution</div>
      <div class="value">{{laptop?.screenResolution}}</div>
    </div>
  </div>
  <div class="description-type-box">
    <div class="description-title">Operational system</div>
    <div class="information-box">
      <div class="type">Installed operational system</div>
      <div class="value">{{laptop?.operationalSystem}}</div>
    </div>
  </div>
  <div class="description-type-box">
    <div class="description-title">Processor</div>
    <div class="information-box">
      <div class="type">Processor class</div>
      <div class="value">{{laptop?.processorClass}}</div>
    </div>
    <div class="information-box">
      <div class="type">Processor type</div>
      <div class="value">{{laptop?.processorType}}</div>
    </div>
  </div>
  <div class="description-type-box">
    <div class="description-title">RAM</div>
    <div class="information-box">
      <div class="type">RAM type</div>
      <div class="value">{{laptop?.ramType}}</div>
    </div>
    <div class="information-box">
      <div class="type">RAM current amount</div>
      <div class="value">{{laptop?.amountOfRam}}</div>
    </div>
    <div class="information-box">
      <div class="type">RAM max possible amount</div>
      <div class="value">{{laptop?.maxAmountOfRam}}</div>
    </div>
  </div>
  <div class="description-type-box">
    <div class="description-title">Hard drive</div>
    <div class="information-box">
      <div class="type">Data storage type</div>
      <div class="value">{{laptop?.dataStorageType}}</div>
    </div>
    <div class="information-box">
      <div class="type">Hard drive size</div>
      <div class="value">-</div>
    </div>
    <div class="information-box">
      <div class="type">SSD size</div>
      <div class="value">{{laptop?.dataStorageSize}}</div>
    </div>
    <div class="information-box">
      <div class="type">Total hard drives size</div>
      <div class="value">{{laptop?.dataStorageSize}}</div>
    </div>
  </div>
  <div class="description-type-box">
    <div class="description-title">Graphics card</div>
    <div class="information-box">
      <div class="type">Graphics card type</div>
      <div class="value">{{laptop?.graphicsCardType}}</div>
    </div>
    <div class="information-box">
      <div class="type">Graphics card series</div>
      <div class="value">{{laptop?.graphicsCardSeries}} </div>
    </div>
    <div class="information-box">
      <div class="type">Graphics card model</div>
      <div class="value">{{laptop?.graphicsCardModel}}</div>
    </div>
    <div class="information-box">
      <div class="type">Graphics card memory</div>
      <div class="value">{{laptop?.graphicsCardMemorySize}}</div>
    </div>
  </div>
</div>

<mat-menu #clickMenu="matMenu">
  <ng-container *ngFor="let profile of wishlistProfiles">
    <button mat-menu-item (click)="addItemToWishlist(laptop, profile.id)">{{profile.name}}</button>
  </ng-container>
</mat-menu>
