.third-header {
  width: 100%;
  max-width: 1140px;
  height: 50px;
  position: relative;
  font-size: 15px;
  background-color: #e1e1e1;
  margin: 15px auto 0 auto;
}

.third-header div {
  display: flex;
  float: left;
  height: 100%;
}

.main-category {
  max-width: 240px;
}

.main-category button{
  font-size: 12px;
  text-align: left;
  line-break: auto;
  width: 100%;
}

.mat-menu-item {
  line-height: normal;
  white-space: initial;
}
