@import "src/mixin.scss";

.home-grid {
  display: grid;
  grid-template-columns: 20% 1fr;
}

:host {
  ::ng-deep{
    .mat-menu-item {
      white-space: break-spaces;
      overflow: unset;
      text-overflow: unset;
      line-height: 25px;
    }
  }
}

.container {
  max-width: 1280px;
  padding: 10px 0;
}

@media (max-width: 1000px) {
  :host {
    ::ng-deep{
      .mat-menu-item {
        font-size: 10px;
        width: 200px;
      }
    }
  }
}

@media (max-width: 640px) {
  :host {
    ::ng-deep{
      .mat-menu-item {
        font-size: 8px;
        width: 300px;
      }
    }
  }
  .home-grid {
    grid-template-columns: 30% 1fr;
  }
}
