@import "src/mixin.scss";

.home-grid {
  display: grid;
  grid-template-columns: 20% 1fr;
}

:host {
  ::ng-deep{
    .mat-menu-item {
      white-space: break-spaces;
      overflow: unset;
      text-overflow: unset;
      line-height: 25px;
    }
  }
}

.container {
  max-width: 1280px;
  padding: 10px 0;
}
