<div class="dialog-container">
  <div class="dialog-header">
    <mat-icon>
      <mat-icon>check_circle</mat-icon>
    </mat-icon>
    <span> Item successfully added to cart!</span>
  </div>
  <mat-divider></mat-divider>
  <div>
    <div class="dialog-item-picture" *ngIf="item !== null">
      <img src="{{item.picture}}" alt="{{item.itemName}}">
    </div>
    <div class="dialog-item-name">
      <span>{{item.itemName}}</span>
    </div>
    <div class="dialog-item-price">
      <strong>{{item.itemPrice}} €</strong>
    </div>
    <div class="warranty">
      <div class="normal-warranty">
        <mat-checkbox [(ngModel)]="item.itemInsurance" class="example-margin"><a>Product Insurance</a>
        </mat-checkbox>
        <p>Insure new purchase and save up to 80% of product price</p>
      </div>
      <div class="extended-warranty">
        <mat-checkbox [(ngModel)]="item.itemWarranty" class="example-margin"><a>Extended warranty</a>
        </mat-checkbox>
        <p>Free item repair</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="button-cart-or-stay">
      <button (click)="onClickClose()" mat-button class="continue">Continue searching</button>
      <a routerLink="/cart" routerLinkActive="active">
        <button (click)="onClickClose()" mat-button class="to-cart">Buy items in cart</button>
      </a>
    </div>
  </div>
</div>
