@import "src/mixin.scss";

.dialog-container {
  @include default-font-family;
  padding: 15px;
  min-width: 600px;
}
.dialog-header {
  padding: 20px;
  text-align: left;
}

.dialog-header span{
  font-size: 24px;
  font-weight: 800;
  padding: 10px 0 0 10px;
  vertical-align: middle;
}

.dialog-header mat-icon {
  color: green;
  transform: scale(1.4);
  vertical-align: middle;
}

.dialog-item-picture {
  padding-top: 15px;
  width: 20%;
}

.dialog-item-picture img {
  float: left;
  width: 110px;
  height: 80px;
}

..dialog-item-price,
.dialog-item-name {
  float: left;
  padding: 15px 0 0 20px;
  width: 60%;
}

.dialog-item-price {
  width: 20%;
}

.warranty {
  @include default-font-family;
  width: 100%;
  background: white;
  padding: 100px 0 20px 0;
  text-align: center;
}

normal-warranty,
.extended-warranty {
  width: 100%;
  border: 1px solid #e1e1e1;
  font-size: 10px;
  padding: 5px;
  text-align: left;
}

.normal-warranty {
  margin: 0 0 5px;
}

.warranty a {
  font-size: 14px;
  color: #39c;
  text-decoration: underline;
}

.warranty p {
  color: #666;
}

.button-cart-or-stay {
  text-align: center;
  padding-top: 20px;
}

.continue {
  color: #ed1c24;
  background: white;
  border: 1px solid #ed1c24;
}

.to-cart {
  color: white;
  background: #ed1c24;
  border: 1px solid #ed1c24;
  margin: 0 0 0 5px;
}
