<div class="total-box">
  <p class="message-under-price" *ngIf="totalSumOfAllItemsSubject <= 19.99">Orders lower than 19,99
    € is subject to administrative tax which is 1,99 €</p>
  <p>Items total: <strong>{{totalSumOfAllItemsSubject | number : '1.2-2'}} €</strong></p>
  <a routerLink="/" routerlinkactive="true">
    <mat-icon class="back-to-main">keyboard_backspace</mat-icon>
    Choose more items</a>
  <mat-divider></mat-divider>
  <button mat-button
          [ngClass]="{
  'buy-button': true,
  'disabled-checkout-button' : totalSumOfAllItemsSubject === 0
  }"
          [disabled]="totalSumOfAllItemsSubject === 0">Start buying
    <mat-icon>arrow_right_alt</mat-icon>
  </button>
  <p class="code-color">In next you will able to select delivery method</p>
</div>
