<div [ngClass]="{
  'button-and-header' : true,
  'disabled-checkout-button' : getCartAmountOfItems() === 0
  }">
  <h2>Cart</h2>
  <button mat-button
          [disabled]="getCartAmountOfItems() === 0"
          (click)="createOrder(cart?.cartItems)">Continue
    <mat-icon>arrow_right_alt</mat-icon>
  </button>
</div>
<div>
  <div class="header-info">
    <div class="product-column">Products</div>
    <div class="price-column">Price</div>
    <div class="quantity-column">Quantity</div>
    <div class="total-column">Total</div>
  </div>
  <div *ngFor="let item of cart?.cartItems">
    <div class="item-container">
      <div class="grid-first-column-display">
        <div class="picture">
          <a [routerLink]="['/category',item.category,item.subCategory,item.itemId]">
            <img
              src="{{item.picture}}"
              alt="{{item.itemName}}">
          </a>
        </div>
        <div class="name">
          <div>
            <a [routerLink]="['/category',item.category,item.subCategory,item.itemId]">
              {{item.itemName}}
            </a>
            <p class="code-color">Product code: {{item.itemCode}}</p>
          </div>
        </div>
        <div class="delivery-icon">
          <mat-icon
            matTooltip="Will be delivered in 2 days">
            directions_car
          </mat-icon>
        </div>
      </div>
      <div class="price">
        {{item.itemPrice | number : '1.2-2'}} €
      </div>
      <div class="quantity">
        <button mat-icon-button (click)="decreaseQuantity(item)" *ngIf="item.itemQuantity >= 2">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
        <div class="empty-space" *ngIf="!(item.itemQuantity >= 2)">
        </div>
        <input
          type="number"
          (focusout)="keyPressNumbers($event, item)"
          [(ngModel)]="item.itemQuantity">
        <button mat-icon-button (click)="increaseQuantity(item)">
          <mat-icon>control_point</mat-icon>
        </button>
      </div>
      <div class="total">
        <p><strong>{{getTotalAmount(item) | number : '1.2-2'}} €</strong></p>
      </div>
    </div>
    <div class="warranty">
      <div class="normal-warranty">
        <mat-checkbox [(ngModel)]="item.itemInsurance" (click)="updateInsurance(item)"><a>Product
          Insurance</a></mat-checkbox>
        <p>Insure new purchase and save up to 80% of product price</p>
      </div>
      <div class="extended-warranty">
        <mat-checkbox [(ngModel)]="item.itemWarranty" (click)="updateWarranty(item)"><a>Extended
          warranty</a></mat-checkbox>
        <p>Free item repair</p>
      </div>
      <div class="remove-item">
        <button mat-button (click)="removeItemFromCart(item)">
          <mat-icon>close</mat-icon>
          Remove item
        </button>
      </div>
    </div>
  </div>
</div>
<div class="grid-container">
  <div class="delivery">
    <app-cart-delivery></app-cart-delivery>
  </div>
  <div class="total-price">
    <div class="total-box">
      <p class="message-under-price" *ngIf="totalSumOfAllItemsSubject <= 19.99">Orders lower than
        19,99
        € is subject to administrative tax which is 1,99 €</p>
      <p>Items total: <strong>{{totalSumOfAllItemsSubject | number : '1.2-2'}} €</strong></p>
      <a routerLink="/" routerlinkactive="true">
        <mat-icon class="back-to-main">keyboard_backspace</mat-icon>
        Choose more items</a>
      <mat-divider></mat-divider>
      <button mat-button
              [ngClass]="{
                  'buy-button': true,
                  'disabled-checkout-button' : totalSumOfAllItemsSubject === 0
                }"
              [disabled]="totalSumOfAllItemsSubject === 0"
              (click)="createOrder(cart?.cartItems)">Start buying
        <mat-icon>arrow_right_alt</mat-icon>
      </button>
      <p class="code-color">In next page you will able to select delivery method</p>
    </div>
  </div>
</div>
