<div class="wishlist-details-header">
  <span>{{wishlistProfileName}}</span>
  <span class="spacer"></span>
  <button mat-raised-button (click)="onClickDeleteProfile(wishlistProfileId)">Remove wishlist</button>
</div>
<div class="wishlist-card-display-container" *ngIf="!isLoading">
  <div class="wishlist-card-container" *ngFor="let item of items">
    <div class="wishlist-image">
      <a [routerLink]="['/category',item.category,item.subCategory,item.itemId]">
        <img src="{{item.itemPicture}}">
      </a>
    </div>
    <div class="wishlist-item-price">
      <span>{{item.itemPrice | number : '1.2-2'}} € / vnt.</span>
    </div>
    <div class="wishlist-price-and-options">
      <div class="wishlist-product-link-box">
        <a class="wishlist-product-link" [routerLink]="['/category',item.category,item.subCategory,item.itemId]">{{item.itemName}} "</a>
      </div>
    </div>
    <div class="wishlist-button-box">
      <div class="add-to-cart-button">
        <button mat-button class="wishlist-to-cart-button" (click)="addItemToCart(item)">
          <mat-icon>shopping_cart</mat-icon>
          To cart
        </button>
      </div>
      <div class="wishlist-delete-button">
        <button mat-raised-button (click)="onClickDeleteItem(item.id)"><mat-icon>delete_forever</mat-icon></button>
      </div>
    </div>
  </div>
</div>

<app-progress-spinner *ngIf="isLoading"></app-progress-spinner>
