@import "src/mixin";

.wishlist-details-header {
  align-items: center;
  background: white;
  display: flex;
  padding: 0 50px 0 50px;
  height: 50px;
}

.wishlist-card-display-container {
  @include card-display-container;
  padding: 0;
  width: 100%;
}

.wishlist-card-container {
  @include card-container;
  height: 350px;
}

.wishlist-product-link {
  @include item-link;
  @include default-font-family;
  font-size: 12px;
}

.wishlist-product-link-box {
  text-align: left;
  padding: 0 20px 0 20px;
}

@media screen and (max-width: 1200px) {
  .wishlist-card-display-container {
    @include card-container-3;
  }
}

@media screen and (max-width: 800px) {
  .wishlist-card-display-container {
    @include card-container-2;
  }
}

@media screen and (max-width: 500px) {
  .wishlist-card-display-container {
    @include card-container-1;
  }
}

.wishlist-image {
  padding: 20px;
}

.wishlist-image img {
  @include item-image-in-card;
}

.wishlist-card-container:hover {
  transform: scale(1.04);
}

.wishlist-button-box {
  text-align: center;
}

.wishlist-to-cart-button {
  @include buying-button;
  display: initial;
}

.wishlist-price-and-options {
  height: 31%;
  width: 100%;
}

.wishlist-item-price {
  padding-left: 20px;
}

.wishlist-delete-button {
  float: left;
  width: 10%;
}

.add-to-cart-button {
  width: 65%;
  float: left;
}

.spacer {
  flex: 1 1;
}
