<div class="card-display-container">
  <div class="card-container" *ngFor="let item of items">
    <div class="image">
      <a [routerLink]="['', item.itemId]">
        <img src="{{item.itemPicture}}">
      </a>
    </div>
    <div>
      <span>{{item.itemPrice | number : '1.2-2'}} € / vnt.</span>
    </div>
    <div class="price-and-options">
      <button mat-button>
        <mat-icon>shopping_cart</mat-icon>
        To cart
      </button>
      <div class="product-link-box">
        <a class="product-link" [routerLink]="['', item.itemId]">{{item.itemName}} "</a>
      </div>
      <div>
        <!--      <app-product-laptop [itemId]="item.id"></app-product-laptop>-->
      </div>
    </div>
  </div>
</div>
