<div class="shipping-main-fourth-row position">
  <div [ngClass]="{
  'shipping-main-fourth-row': formGroup.valid,
  'disabled-button' : !formGroup.valid
  }">
    <form [formGroup]="formGroup" (ngSubmit)="onFormSubmit()">
      <button mat-raised-button matStepperNext [disabled]="!formGroup.valid">Continue ></button>
    </form>
  </div>
  <div class="shipping-next-step-information">
              <span>
                In next step you can select payment method and make order as company.
              </span>
  </div>
</div>
