.checkout-container {
  border-radius: 4px;
  display: block ruby;
  text-align: center;
}

.checkout-details {
  min-height: 384px;
  width: 50%;
}

.checkout-payment-options {
  padding: 10px;
  height: 80px;
}

.payment-option {
  display: inline-block;
  padding: 2px;
  width: 134px;
  height: 54px;
}

.payment-option button {
  display: block;
  background: #e1e1e1;
  width: 114px;
  height: 54px;
}

.mat-form-field {
  display: block;
}

.expiration {
  padding: 0 0 0 40px;
  width: 45%;
  float: left;
}
