<div class="subscriptions-display">
  <div class="subscriptions-header">Subscriptions</div>
  <div class="subscriptions-details">
    <div class="subscription">
      <mat-slide-toggle
        [checked]="user?.subscriptionDetails?.receiveEmails"
        [color]="color">I agree receive emails spofrom Edvinas Alimas.
      </mat-slide-toggle>
      <div class="subscription-information" *ngIf="!user?.subscriptionDetails?.receiveEmails">(Disabled on {{user?.subscriptionDetails?.receiveEmailsDate}})
      </div>
      <div class="subscription-information" *ngIf="user?.subscriptionDetails?.receiveEmails">(Activated on {{user?.subscriptionDetails?.receiveEmailsDate}})
      </div>
    </div>
    <div class="subscription">
      <mat-slide-toggle
        [checked]="user?.subscriptionDetails?.receiveEmailsAboutLookedItems"
        [color]="color">I agree receive emails from Edvinas Alimas, dependent into looked items,
        orders and buying information also given information.
      </mat-slide-toggle>
      <div class="subscription-information extended-text"
           *ngIf="!user?.subscriptionDetails?.receiveEmailsAboutLookedItems">(Disabled on {{user?.subscriptionDetails?.receiveEmailsAboutLookedItemsDate}})
      </div>
      <div class="subscription-information extended-text"
           *ngIf="user?.subscriptionDetails?.receiveEmailsAboutLookedItems">(Activated on {{user?.subscriptionDetails?.receiveEmailsAboutLookedItemsDate}})
      </div>
    </div>
    <div class="subscription">
      <mat-slide-toggle
        [checked]="user?.subscriptionDetails?.receiveEmailsAboutGivingFeedback"
        [color]="color">I agree receive emails from Edvinas Alimas about giving feedback about
        bought products.
      </mat-slide-toggle>
      <div class="subscription-information"
           *ngIf="!user?.subscriptionDetails?.receiveEmailsAboutGivingFeedback">(Disabled on {{user?.subscriptionDetails?.receiveEmailsAboutGivingFeedbackDate}})
      </div>
      <div class="subscription-information"
           *ngIf="user?.subscriptionDetails?.receiveEmailsAboutGivingFeedback">(Activated on {{user?.subscriptionDetails?.receiveEmailsAboutGivingFeedbackDate}})
      </div>
    </div>
    <div class="subscription">
      <mat-slide-toggle
        [checked]="user?.subscriptionDetails?.receiveEmailsAboutServiceQuality"
        [color]="color">I agree receive emails from Edvinas Alimas about service quality feedback.
      </mat-slide-toggle>
      <div class="subscription-information"
           *ngIf="!user?.subscriptionDetails?.receiveEmailsAboutServiceQuality">(Disabled on {{user?.subscriptionDetails?.receiveEmailsAboutServiceQualityDate}})
      </div>
      <div class="subscription-information"
           *ngIf="user?.subscriptionDetails?.receiveEmailsAboutServiceQuality">(Activated on {{user?.subscriptionDetails?.receiveEmailsAboutServiceQualityDate}})
      </div>
    </div>
  </div>
</div>
