@import "src/mixin";

.subscriptions-display {
  @include profile-page-container;
}

.subscriptions-header {
  @include profile-page-header;
}

.subscriptions-details {
  @include profile-page-details;
}

.subscription {
  padding: 20px;
  text-wrap: normal;
}

.subscription {
  ::ng-deep {
    span {
      white-space: break-spaces;
    }
  }
}

.subscription-information {
  font-size: 10px;
  color: #999999;
}

.extended-text {
  padding: 10px 0 0 0;
}
