<div class="subscriptions-display">
  <div class="subscriptions-header">Subscriptions</div>
  <div class="subscriptions-details">
    <div class="subscription">
      <mat-slide-toggle
        [checked]="user?.receiveEmails"
        [color]="color">I agree receive emails spofrom Edvinas Alimas.</mat-slide-toggle>
    </div>
    <div class="subscription">
      <mat-slide-toggle
        [checked]="user?.receiveEmailsAboutLookedItems"
        [color]="color">I agree receive emails from Edvinas Alimas, dependent into looked items, orders and buying information also given information.</mat-slide-toggle>
    </div>
    <div class="subscription">
      <mat-slide-toggle
        [checked]="user?.receiveEmailsAboutGivingFeedback"
        [color]="color">I agree receive emails from Edvinas Alimas about giving feedback about bought products.</mat-slide-toggle>
    </div>
    <div class="subscription">
      <mat-slide-toggle
        [checked]="user?.receiveEmailsAboutServiceQuality"
        [color]="color">I agree receive emails from Edvinas Alimas about service quality feedback.</mat-slide-toggle>
    </div>
  </div>
</div>
