.footer {
  text-align: center;
  margin: 40px 0 0 0;
  position: absolute;
  bottom: 0;
  min-width: 1140px;
  width: 100%;
  padding: 0 380px 0 381px;
}

.main {
  width: 90vw;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

@media (min-width: 992px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 1140px;
  }
}
