<div class="container">
  <div class="header-info">
    <div class="header-pages-filter">
      Showing 1 - 48 out of 354
    </div>
    <div class="filter">
      <mat-icon>compare_arrows</mat-icon>
      <mat-form-field>
        <mat-select disableRipple [(ngModel)]="selectedOption">
          <mat-option value="popular">Most popular items</mat-option>
          <mat-option value="lowest">From lowest price</mat-option>
          <mat-option value="highest">From highest price</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="number-of-pages">
      <mat-form-field>
        <mat-select disableRipple [(ngModel)]="selectedPageAmount">
          <mat-option value="48">48</mat-option>
          <mat-option value="72">72</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="header-info-display-items">
      <mat-button-toggle-group class="header-info-display-items" aria-label="Font Style">
        <mat-button-toggle value="list">
          <mat-icon>list</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="blocks">
          <mat-icon>view_module</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <app-products-list-items></app-products-list-items>
</div>
