.container {
  padding: 50px 0 0 0;
  text-align: center;
  width: 100%;
  font-family: Roboto, sans-serif;
}

.header-info {
  padding: 0 0 0 20px;
  text-align: left;
  border: 1px solid #e1e1e1;
  background: #f9f9f9;
}

.header-info span {
  padding: 0 0 0 100px;
}
