<div class="container">
  <div class="header-info">
    <div class="header-pages-filter">
      Showing {{getFirstAmountOfResultValues()}} - {{getSecondAmountOfResultValues()}} out
      of {{pageOfLaptops?.totalElements}}
    </div>
    <div class="filter">
      <mat-icon>compare_arrows</mat-icon>
      <mat-form-field>
        <mat-select disableRipple [(ngModel)]="selectedOption">
          <mat-option value="popular">Most popular items</mat-option>
          <mat-option value="lowest">From lowest price</mat-option>
          <mat-option value="highest">From highest price</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="number-of-pages">
      <mat-form-field>
        <mat-select (selectionChange)="changeSizeOfPage($event.value)"
                    disableRipple
                    [(ngModel)]="selectedPageAmount">
          <mat-option value="4">4</mat-option>
          <mat-option value="8">8</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="header-info-display-items">
      <mat-button-toggle-group #group="matButtonToggleGroup" [value]="defaultProductDisplay">
        <mat-button-toggle value="list">
          <mat-icon>list</mat-icon>
        </mat-button-toggle>
        <span></span>
        <mat-button-toggle value="blocks">
          <mat-icon>view_module</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <app-products-list-items *ngIf="group.value === 'list'"
                           [laptops]="pageOfLaptops.content"
                           [itemsPerPage]="pageOfLaptops.size"
                           [currentPage]="page"
                           [totalItems]="pageOfLaptops.totalElements"
  ></app-products-list-items>
  <app-products-list-as-card *ngIf="group.value === 'blocks'"
                             [laptops]="pageOfLaptops.content"
                             [itemsPerPage]="pageOfLaptops.size"
                             [currentPage]="page"
                             [totalItems]="pageOfLaptops.totalElements">
  </app-products-list-as-card>
  <div class="paginator">
    <pagination-controls (pageChange)="changePage($event)"
                         previousLabel="Previous"
                         nextLabel="Next">
    </pagination-controls>
  </div>
</div>
