.container {
  padding: 50px 0 0 0;
  text-align: center;
  width: 75%;
  font-family: Roboto, sans-serif;
}

.header-info {
  display: flex;
  height: 60px;
  border: 1px solid #e1e1e1;
  background: #f9f9f9;
}

.header-pages-filter {
  padding: 20px 5px 0 20px;
  width: 45%;
  border-right: 1px solid #e1e1e1;
}

.header-info-display-items {
  height: 100%;
}

.number-of-pages {
  width: 8%;
  text-align: center;
  padding: 0 10px 0 10px;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}

.number-of-pages mat-form-field {
  width: 90%;
}

.filter {
  padding: 0 10px 0 10px;
  width: 33%;
  display: block ruby;
  justify-content: space-between;
  text-align: center;
}

.filter mat-icon {
  display: inline;
  vertical-align: middle;
  padding-right: 10px;
}

.paginator {
  padding-top: 20px;
  text-align: right;
}
