@import "src/mixin";

.profile-display {
  @include profile-page-container;
}

.profile-header {
  @include profile-page-header;
}

.profile-header span {
  font-size: 18px;
  font-weight: 800;
}

.profile-details {
  @include profile-page-details;
}

.details-fields {
  @include default-font-family;
  font-size: 13px;
  width: 50%;
}

.field-value {
  font-weight: 650;
  margin-left: 120px;
  padding-top: 10px;
}

.field {
  display: flex;
  float: left;
  padding-top: 10px;
}

.additional-information {
  border-top: 1px solid #e1e1e1;
  margin-top: 20px;
  padding: 10px 0;
}

.additional-information div {
  font-size: 14px;
  font-weight: 650;
}

.additional-information span {
  font-size: 10px;
}

.additional-information-field {
  font-size: 10px;
  font-weight: 300;
}

.group-fields {
  display: inline-flex;
}

.highlighted div {
  font-weight: 650;
}

.first {
  padding-right: 5px;
}

.activate-select-form-style {
  cursor: pointer;
  color: #3399cc;
  padding-right: 5px;
}
