<div class="profile-display">
  <div class="profile-header">
    <span>My profile</span>
  </div>
  <div class="profile-details" *ngIf="!isLoading">
    <div class="details-fields">
      <div class="field">Email</div>
      <div class="field-value">{{user?.email}}</div>
      <div class="field">Language</div>
      <div class="field-value">English</div>
      <div class="field">First name</div>
      <div class="field-value">{{user?.name}}</div>
      <div class="field">Last name</div>
      <div class="field-value">{{user?.lastName}}</div>
      <div class="field">Phone number</div>
      <div class="field-value">+37067964887</div>
      <div class="field">Birthday</div>
      <div class="field-value">1998-08-19</div>
      <div class="field">Gender</div>
      <div class="field-value">Male</div>
    </div>
    <div>
      <div class="additional-information"><strong>Contact information</strong></div>
      <div *ngFor="let info of user?.deliveryInformation">
        <div class="group-fields highlighted">
          <div class="additional-information-field first">{{info.firstName}}</div>
          <div class="additional-information-field">{{info.lastName}}</div>
        </div>
        <div class="additional-information-field">{{info.phoneNumber}}</div>
        <div class="group-fields">
          <div class="additional-information-field">{{info.address}}</div>
          <div class="additional-information-field">, {{info.city}}</div>
          <div class="additional-information-field">, {{info.postalCode}}</div>
        </div>
        <div class="additional-information-field">{{info.companyCode}}</div>
        <div class="additional-information-field">{{info.companyName}}</div>
        <div class="additional-information-field">{{info.companyPVMCode}}</div>
        <div class="additional-information-field">{{info.companyAddress}}</div>
        <div class="additional-information-field">
          <span class="activate-select-form-style"
                >Update</span>
          <span class="activate-select-form-style"
               (click)="deleteDeliveryInformation(info)">Delete</span>
        </div>
      </div>
      <span>Add new contact information +</span>
    </div>
    <div class="additional-information">
      <div>Cookie settings</div>
      <button mat-button>Change cookie settings</button>
    </div>
    <div class="additional-information">
      <div>Privacy policy</div>
      <button mat-button>Read privacy policy</button>
    </div>
    <div class="additional-information">
      <div>Download profile data</div>
      <button mat-button>Download</button>
    </div>
    <div class="additional-information">
      <div>Delete profile</div>
      <button mat-button>Delete</button>
    </div>
  </div>
</div>

<app-progress-spinner *ngIf="isLoading"></app-progress-spinner>
