<div class="orders-list-container">
  <div class="orders-list-header">
    <div class="orders-list-header-column">Order number</div>
    <div class="orders-list-header-column">Order date</div>
    <div class="orders-list-header-column total-bigger">Total and payment method</div>
    <div class="orders-list-header-column">Status</div>
    <div class="orders-list-header-column status">Status updated</div>
  </div>
  <div *ngFor="let order of orders">
    <a class="ordered-item-link" [routerLink]="['/orders', order.id]">
      <div class="orders-list-content">
        <div class="orders-list-content-column"><strong>{{order.orderNumber}}</strong></div>
        <div class="orders-list-content-column">{{order.orderDate}}</div>
        <div class="orders-list-content-column total-bigger"><strong>{{order.totalPrice}} €</strong> {{order.paymentMethod}}
        </div>
        <div class="orders-list-content-column">
          <mat-chip-list>
            <mat-chip color="primary">
              {{order.status}}
            </mat-chip>
          </mat-chip-list>
        </div>
        <div class="orders-list-content-column status">{{order.orderUpdate}}</div>
      </div>
    </a>
  </div>
</div>
