.orders-list-header {
  border-bottom: 1px solid #e1e1e1;
  background: #fafafa;
  display: inline-flex;
  justify-content: space-between;
  padding: 10px 50px 10px 50px;
  width: 100%;
}

.orders-list-header-column {
  font-size: 12px;
  width: 15%;
}
