.delivery-provider-options {
  display: grid;
  padding: 20px 0 20px 20px;
  height: 200px;
  grid-template-columns: repeat(3, 1fr);
}

.delivery-provider {
  width: 90%;
  height: 80%;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}

.delivery-provider img {
  padding: 5px 12px 0 0;
  width: 90%;
  height: 70%;
}

.delivery-provider-text {
  display: inline-flex;
  font-size: 12px;
  font-weight: 500;
  justify-content: space-between;
  padding: 0 5px;
  width: 100%;
}

.radio-for-selection {
  visibility: hidden;
}

.delivery-provider-selected,
.delivery-provider:hover {
  border: 3px solid #5bb01c;
}

.select-location {
  width: 100%;
  padding-top: 20px;
}

.select-location .mat-form-field {
  width: 100%;
}

.user-information-style {
  text-align: left;
  padding: 15px 0;
}
