<div>
  <div class="item-container">
    <div class="align-image">
      <img
        src="https://ksd-images.lt/display/aikido/cache/7b02a36f4ecc0d1000ca1e0d83b53a76.jpeg?h=2000&w=2000">
    </div>
    <div class="small-details">
      <a>Nešiojamas kompiuteris Dell Alienware x17 R2, Intel Core i9-12900HK, 64 GB, 4TB, 17.3 "</a>
      <span class="description">Ekrano įstrižainė: <span><strong>17.3 "</strong></span></span>
      <span
        class="description">Įdiegta operacinė sistema: <span> <strong>Windows 11 Pro</strong></span></span>
      <span
        class="description">Operatyvioji atmintis (RAM): <span> <strong>64 GB</strong></span></span>
      <span class="description">Kietojo disko talpa (HDD): <span> <strong>–</strong></span></span>
      <span class="description">SSD disko talpa: <span> <strong>4TB</strong></span></span>
      <span class="availability"><mat-icon>brightness_1</mat-icon>Pristatymas</span>
      <span class="availability"><mat-icon>brightness_1</mat-icon>Atsiėmimas</span>
    </div>
    <div class="price-and-options">
      <span>6 563,73 € / vnt.</span>
      <button mat-button>
        <mat-icon>shopping_cart</mat-icon>
        To cart
      </button>
      <a>Add for comparison</a>
    </div>
  </div>
</div>
