@import "src/mixin";

.container {
  font-family: Roboto, sans-serif;
  text-align: center;
  padding: 20px 0 0 0;
  max-width: 1280px;
}

.header-info {
  display: flex;
  height: 50px;
  border: 1px solid #e1e1e1;
  background: #f9f9f9;
}

.header-pages-filter {
  padding: 15px 5px 0 20px;
  width: 55%;
  border-right: 1px solid #e1e1e1;
}

.header-info-display-items {

}

.number-of-pages {
  width: 8%;
  text-align: center;
  padding: 0 10px 0 10px;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}

.number-of-pages mat-form-field {
  width: 90%;
}

.filter {
  padding: 0 10px 0 10px;
  width: 33%;
  display: block ruby;
  justify-content: space-between;
  text-align: center;
}

.filter mat-icon {
  display: inline;
  vertical-align: middle;
  padding-right: 10px;
}

.paginator {
  padding-top: 20px;
  text-align: right;
}

.product-link {
  @include item-link;
}

.product-link-box {
  text-align: left;
  padding: 0 20px 0 20px;
}

@media screen and (max-width: 1280px) {
  .card-container {
    @include card-container-3
  }
}

@media screen and (max-width: 800px) {
  .card-container {
    @include card-container-2
  }
}

@media screen and (max-width: 500px) {
  .card-container {
    @include card-container-1
  }
}

.image {
  padding: 20px;
}

.image img {
  @include item-image-in-card;
}

.description {
  color: #999;
}

.description:before {
  content:"• ";
  color: black;
}

.description span{
  color: black;
}

.availability {
  padding-top: 6px;
}

.availability mat-icon {
  color: orange;
  vertical-align: middle;
}

.product-card-container:hover {
  transform: scale(1.15);
}

.product-card-container:hover * {
  transform: scale(.80);
}

.product-card-container:hover .add-comparison {
  display: inline;
}

.product-card-container:hover .product-price-and-options button {
  display: inline;
}

.product-price-and-options button {
  @include buying-button;
  display: none;
}

.add-comparison {
  display: none;
}

.spinner {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

:host {
  .mat-button-toggle-group-appearance-standard {
    border-radius: unset;
    border: none;
  }
}
