<div>
  <div *ngIf="isDeliveryInformationSelected">
    <div class="address-row1">
      {{deliveryInformation?.firstName}}
      {{deliveryInformation?.lastName}}
    </div>
    <div class="address-row2">
      {{deliveryInformation?.address}}
      {{deliveryInformation?.postalCode}}
      {{deliveryInformation?.city}}
    </div>
    <div class="address-row2">
      {{deliveryInformation?.phoneNumber}}
      <span class="activate-select-form-style"
            (click)="onClickActivateSelectProfileForm()">Update</span>
    </div>
  </div>
  <div *ngIf="!isDeliveryInformationSelected" class="activate-select-form-style"
        (click)="onClickActivateSelectProfileForm()">Select</div>
  <div class="shipping-address-selection" *ngIf="isSelectDeliveryProfileActivated">
    <mat-divider></mat-divider>
    <mat-form-field appearance="fill">
      <mat-select [(ngModel)]="deliveryInformation">
        <mat-option *ngFor="let info of this.user?.deliveryInformation" [value]="info" (click)="getSelectedForm(info)">
          {{info.firstName}} {{info.lastName}} {{info.address}} {{info.postalCode}} {{info.city}}
        </mat-option>
        <mat-option (click)="handleForm()">Enter new information</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <app-delivery-information-form
    [isFormActivated]="isFormActivated"
    (formClosed)="handleForm()"
    (createdDeliveryInformation)="handleCreatedForm($event)"
  ></app-delivery-information-form>
</div>
