@import "src/mixin";

.address-row1 {
  font-size: 16px;
  font-weight: 400;
}

.address-row2 {
  font-size: 10px;
}

.first-row-wrapper {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  width: 100%;
}

.shipping-main-first-row-column ::ng-deep .mat-form-field,
.shipping-main-second-row ::ng-deep .mat-form-field,
.shipping-main-second-row,
.shipping-main-first-row-object,
.shipping-main-first-row-column {
  width: 100%;
}

.shipping-main-first-row-column ::ng-deep .mat-form-field {
  padding: 0 10px 0 0;
}

.shipping-main-third-row button {
  @include orange-button;
  width: 50%;
}

.shipping-main-third-row {
  padding-bottom: 20px;
}

.activate-select-form-style {
  cursor: pointer;
  color: #3399cc;
}

.shipping-address-selection {
  padding-top: 20px;
}

.shipping-address-selection .mat-form-field {
  padding-top: 20px;
  width: 100%;
}

.cancel-form span {
  color: #3399cc;
  cursor: pointer;
}

.form-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
}
