@import "src/mixin";

.wishlist-display {
  @include profile-page-container;
}

.wishlist-header {
  @include profile-page-header;
}

.wishlist-details {
  @include profile-page-details;
}

.wishlist-box {
  background: #f4f4f4;
  display: inline-block;
  padding: 15px;
  width: 20%;
}

.wishlist-items {
  display: inline-block;
  vertical-align: bottom;
  width: 75%;
}

.wishlist-button {
  display: inline-block;
  vertical-align: text-bottom;
  text-align: right;
  width: 5%;
}

.wishlist-profile-name {
  width: 100%;
}

.wishlist-image {
  width: 85px;
  height: 70px;
  padding: 0 5px 5px 5px;
}

.create-wishlist {
  font-size: 12px;
  padding: 20px;
}
