.checkout-container {
  border-radius: 4px;
  display: block ruby;
  text-align: center;
}

.checkout-details {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 384px;
  padding: 50px 0 0 0;
  width: 500px;
}

.mat-form-field {
  display: block;
}

::ng-deep {
  .mat-form-field-suffix {
    width: 50px;
    height: 30px;
  }
  .mat-form-field {
    line-height: unset;
  }
}

.checkout-card-number-input {
  padding: 0 25px;
}

.expiration {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 25px;
}

.expiration div {
  max-width: 148px;
}

@media only screen and (max-width: 600px) {
  .checkout-details {
    width: 350px;
  }

  .expiration div {
    max-width: 100px;
  }
}
