<div class="host">
  <div *ngFor="let cart of cartList">
    <div class="item">
      <div class="name">
        <h6>{{cart.itemName}}</h6>
      </div>
      <div class="picture">
        <img
          src="{{cart.picture}}"
          alt="{{cart.itemName}}">
      </div>
      <div class="price"><strong>{{(cart.itemPrice * cart.itemQuantity) | number : '1.2-2'}} €</strong></div>
    </div>
    <mat-divider style="bottom: 0"></mat-divider>
  </div>
  <div
    *ngIf="cartList?.length !== 0">
    <div>Total:</div>
    <div class="popover-cart-total">
      <strong>{{cartListTotalSum | number : '1.2-2'}} €</strong>
    </div>
    <div>
      <a routerLink="/cart" routerLinkActive="active">
        <button class="buy-button" mat-button>Buy</button>
      </a>
    </div>
  </div>
  <div *ngIf="cartList?.length === 0">Cart is empty</div>
</div>
