<div class="header">
  <div class="container header-wrapper">
    <div class="inline-header">
      <div class="wrapper title">
        <div>
          <a routerLink="/" routerLinkActive="active">
            <span>{{title}}</span>
          </a>
        </div>
      </div>
      <div class="wrapper promises">
        <div class="promises-deep1">
          <mat-icon>admin_panel_settings</mat-icon>
          <div>Safe shopping</div>
        </div>
        <div class="promises-deep1">
          <mat-icon>home</mat-icon>
          <div>Delivery to home</div>
        </div>
        <div class="promises-deep1">
          <mat-icon>store</mat-icon>
          <div>Simple withdrawal</div>
        </div>
        <div class="promises-deep2">
          Need help?
        </div>
        <div class="promises-deep3">+37067964887</div>
      </div>
    </div>
  </div>
</div>
