<div class="header">
  <div class="container header-wrapper">
    <div class="inline-header">
      <div class="wrapper title">
        <div>
          <a routerLink="/" routerLinkActive="active">
            <span>{{title}}</span>
          </a>
        </div>
      </div>
      <div class="wrapper promises">
        <div>
          <mat-icon>admin_panel_settings</mat-icon>
          <p>Safe shopping</p>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div>
          <mat-icon>admin_panel_settings</mat-icon>
          <p>Delivery to home</p>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div>
          <mat-icon>admin_panel_settings</mat-icon>
          <p>Simple withdrawal</p>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div>
          Need help ?
        </div>
        <div>+37067964887</div>
      </div>
    </div>
  </div>
</div>
