.header {
  font-family: Roboto, sans-serif;
  background-color: #302d2d;
  font-size: 12px;
}

.inline-header {
  display: inline-flex;
  width: 100%;
}

.header-wrapper {
  text-align: left;
}

.container {
  padding: 0;
}

.wrapper {
  width: 100%;
  display: inline-flex;
}

.title {
  padding-top: 15px;
  width: 50%;
}

.promises {
  color: #e1e1e1;
  display: inline-flex;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
}

.promises-deep1,
.promises-deep2,
.promises-deep3 {
  display: inline-flex;
  width: 15%;
  text-align: left;
}

.promises-deep1 {
  padding-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 768px) {
  .promises-deep1 div {
    display: none;
  }
}

@media (max-width: 480px) {
  .promises-deep1,
  .promises-deep2 {
    display: none;
  }

  .promises-deep3 {
    display: inline;
    width: 90%;
    text-align: right;
  }

  .title {
    padding-left: 10px;
  }
}
