<div class="shipping-wrapper" *ngIf="!isLoading">
  <div class="shipping-content">
    <div class="shipping-options">
      <mat-radio-group [(ngModel)]="shippingOptions">
        <div class="option-row option-bottom-border">
          <mat-radio-button value="toHome">
            <div>Order to set address</div>
            <span class="option-text">Delivery cost 3,99 €.</span>
            <span class="option-text">Deliver in 2 work days.</span>
          </mat-radio-button>
        </div>
        <div class="option-row option-bottom-border">
          <mat-radio-button value="withdrawal">
            <div>Withdrawal at client center</div>
            <span class="option-text">Items for withdrawal will prepare in 1 work day.</span>
          </mat-radio-button>
        </div>
        <div class="option-row option-bottom-border">
          <mat-radio-button value="withdrawalFromLocation">
            <div>Withdrawal from selected box locations</div>
            <span class="option-text">Items can be withdraw in two days</span>
          </mat-radio-button>
        </div>
      </mat-radio-group>
    </div>
    <div class="shipping-main">
      <div>
        <div class="shipping-main-header">
          Deliver to given address
        </div>
        <mat-divider></mat-divider>
        <div class="shipping-main-form">
          <p class="shipping-main-title">Delivery address</p>
          <form [formGroup]="selectedAddressForm">
            <div>
              <div>
                <div class="address-row1">
                  {{getSelectedAddressFormField('address').value.firstName}}
                  {{getSelectedAddressFormField('address').value.lastName}}
                </div>
                <div class="address-row2">
                  {{getSelectedAddressFormField('address').value.address}}
                  {{getSelectedAddressFormField('address').value.postalCode}}
                  {{getSelectedAddressFormField('address').value.city}}
                </div>
                <div class="address-row2">
                  {{getSelectedAddressFormField('address').value.phoneNumber}}
                  <a href="/">Update</a>
                </div>
              </div>
              <mat-divider></mat-divider>
              <div class="shipping-address-selection">
                <mat-form-field appearance="fill">
                  <mat-select formControlName="address">
                    <mat-option *ngFor="let info of this.user.deliveryInformation" [value]="info">
                      {{info.firstName}} {{info.lastName}} {{info.address}} {{info.postalCode}} {{info.city}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <mat-divider></mat-divider>
              <div>
                <div>
                  <strong>Wanted delivery time</strong>
                </div>
                <mat-radio-group [(ngModel)]="selectedTime">
                  <div>
                    <mat-radio-button value="1">08:00 - 18:00</mat-radio-button>
                  </div>
                  <div>
                    <mat-radio-button value="2">18:00 - 22:00</mat-radio-button>
                  </div>
                </mat-radio-group>
              </div>
              <mat-divider></mat-divider>
              <div class="shipping-additional-information">
                <mat-form-field appearance="fill">
                  <mat-label>Additional information</mat-label>
                  <textarea matInput
                            value="{{getSelectedAddressFormField('additionalInformation').value}}"></textarea>
                </mat-form-field>
              </div>
              <mat-divider></mat-divider>
            </div>
            <p class="shipping-main-information" *ngIf="this.user.deliveryInformation.length === 0">
              Enter the persons information who is going to take
              order and correct address.
              If you buy as a company, companies information will be able to enter in next step.</p>
            <form [formGroup]="shippingDeliveryForm" (ngSubmit)="submitForm()"
                  *ngIf="this.user.deliveryInformation.length === 0">
              <div class="first-row-wrapper">
                <div class="shipping-main-first-row-column">
                  <mat-form-field appearance="fill">
                    <mat-label>First name</mat-label>
                    <input matInput formcontrolname="firstName" required
                           value="{{getShippingDeliveryFormField('firstName').value}}">
                    <mat-error
                      *ngIf="getShippingDeliveryFormField('firstName').touched && getShippingDeliveryFormField('firstName').invalid">
                      First name is <strong>required!</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <mat-form-field appearance="fill" class="shipping-main-first-row-object">
                  <mat-label>Last name</mat-label>
                  <input matInput formcontrolname="lastName" required
                         value="{{getShippingDeliveryFormField('lastName').value}}">
                  <mat-error
                    *ngIf="getShippingDeliveryFormField('lastName').touched && getShippingDeliveryFormField('lastName').invalid">
                    First name is <strong>required!</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="shipping-main-second-row">
                <mat-form-field appearance="fill">
                  <mat-label>Phone number</mat-label>
                  <input matInput formcontrolname="phoneNumber" required
                         value="{{getShippingDeliveryFormField('phoneNumber').value}}">
                  <mat-error
                    *ngIf="getShippingDeliveryFormField('phoneNumber') && getShippingDeliveryFormField('phoneNumber').invalid">
                    Phone number is <strong>required!</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="shipping-main-second-row">
                <mat-form-field appearance="fill">
                  <mat-label>Address</mat-label>
                  <input matInput formcontrolname="address" required
                         value="{{getShippingDeliveryFormField('address').value}}">
                  <mat-error
                    *ngIf="getShippingDeliveryFormField('address') && getShippingDeliveryFormField('address').invalid">
                    Address is <strong>required!</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="first-row-wrapper">
                <div class="shipping-main-first-row-column">
                  <mat-form-field appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput formcontrolname="city" required
                           value="{{getShippingDeliveryFormField('city').value}}">
                    <mat-error
                      *ngIf="getShippingDeliveryFormField('city') && getShippingDeliveryFormField('city').invalid">
                      City is <strong>required!</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <mat-form-field appearance="fill" class="shipping-main-first-row-object">
                  <mat-label>Postal code</mat-label>
                  <input matInput formcontrolname="postalCode" required
                         value="{{getShippingDeliveryFormField('postalCode').value}}">
                  <mat-error
                    *ngIf="getShippingDeliveryFormField('postalCode') && getShippingDeliveryFormField('postalCode').invalid">
                    Postal code is <strong>required!</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="shipping-main-third-row">
                <button mat-raised-button type="submit" [disabled]="!shippingDeliveryForm.valid">
                  Save
                </button>
              </div>
            </form>
            <div class="shipping-main-fourth-row position">
              <div class="shipping-main-fourth-row">
                <button mat-raised-button>Continue ></button>
              </div>
              <div class="shipping-next-step-information">
              <span>
                In next step you can select payment method and make order as company.
              </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="shipping-order-information">
    <mat-accordion>
      <mat-expansion-panel hideToggle [expanded]="orderInformationPanelOpenState">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Order information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <div class="order-information-row">
            <div><strong>Cart</strong></div>
            <div>
              <div class="order-information-row-two-items">
                <a [routerLink]="['/cart']" class="order-information-row-two-items">
                  <mat-icon>remove_red_eye</mat-icon>
                  <div>Review</div>
                </a>
              </div>
            </div>
          </div>
          <div class="order-information-row">
            <div>{{cart.cartItems.length}} item</div>
            <div>{{totalSumOfAllItemsSubject | number : '1.2-2'}} €</div>
          </div>
          <div class="order-information-row last-row">
            <div>Delivery</div>
            <div>3,49 €</div>
          </div>
          <mat-divider></mat-divider>
          <div class="discount-wrapper">
            <div>
              <mat-form-field appearance="fill">
                <input matInput placeholder="Discount code">
              </mat-form-field>
            </div>
            <div class="discount-button">
              <button mat-raised-button>Check</button>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="order-total-sum">
            <div>Total</div>
            <div>{{totalSumOfAllItemsSubject + 3.49 | number : '1.2-2'}} €</div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<app-progress-spinner *ngIf="isLoading">
</app-progress-spinner>
