@import "src/mixin";

.shipping-wrapper {
  width: 100%;
  display: inline-flex;
}

.shipping-options {
  border-right: 1px solid #e6e6e6;
  width: 35%
}

.shipping-main {
  width: 100%;
  padding: 30px;
}

.shipping-order-information {
  padding-left: 20px;
  width: 25%;
}

.shipping-content {
  border: solid 1px #e6e6e6;
  display: inline-flex;
  width: 75%;
}

.shipping-main-header {
  font-size: 1.6em;
  font-weight: 500;
  text-align: left;
  padding-bottom: 10px;
}

.order-information-row {
  display: inline-flex;
  justify-content: space-between;
  vertical-align: middle;
  width: 100%;
}

.order-information-row-two-items {
  display: inline-flex;
  vertical-align: middle;
  text-decoration: none;
}

.last-row {
  padding-bottom: 10px;
}

.discount-button button {
  @include buying-button;
  width: 92%;
}

.discount-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

.order-total-sum {
  padding-top: 15px;
  display: inline-flex;
  font-weight: 600;
  justify-content: space-between;
  width: 100%;
}

.address-row1 {
  font-size: 16px;
  font-weight: 400;
}

.address-row2 {
  font-size: 10px;
}

.shipping-main-fourth-row {
  display: inline-block;
  text-align: right;
  width: 100%;
}

.shipping-main-fourth-row button {
  @include orange-button;
  width: 30%;
}

.position {
  padding-top: 10px;
}

.shipping-next-step-information {
  @include information-text-style;
  display: flex;
  justify-content: right;
  width: 100%;
}

.shipping-next-step-information span {
  width: 40%;
  text-align: left;
}
