<div class="shipping-wrapper" xmlns="http://www.w3.org/1999/html">
  <div class="shipping-content">
    <div class="shipping-options">
      <div class="option-row option-bottom-border">
        <mat-radio-button value="1">
        <div>Order to set address</div>
          <span class="option-text">Delivery cost 3,99 €.</span>
          <span class="option-text">Deliver in 2 work days.</span>
        </mat-radio-button>
      </div>
      <div class="option-row option-bottom-border">
        <mat-radio-button value="2">
        <div>Withdrawal at client center</div>
        <span class="option-text">Items for withdrawal will prepare in 1 work day.</span>
        </mat-radio-button>
      </div>
      <div class="option-row">
        <mat-radio-button value="3">
        <div>Withdrawal from selected box locations</div>
        <span class="option-text">Items can be withdraw in two days</span>
        </mat-radio-button>
      </div>
    </div>
    <div class="shipping-main">
      A
    </div>
  </div>
  <div class="shipping-order-information">
    A
  </div>
</div>
