@import "src/mixin";

.shipping-wrapper {
  width: 100%;
  display: inline-flex;
}

.shipping-options {
  border-right: 1px solid #e6e6e6;
  width: 35%
}

.shipping-main {
  width: 100%;
  padding: 30px;
}

.shipping-order-information {
  padding-left: 20px;
  width: 25%;
}

.shipping-content {
  border: solid 1px #e6e6e6;
  display: inline-flex;
  width: 75%;
}

.shipping-main-header {
  font-size: 1.6em;
  font-weight: 500;
  text-align: left;
  padding-bottom: 10px;
}

.order-information-row {
  display: inline-flex;
  justify-content: space-between;
  vertical-align: middle;
  width: 100%;
}

.order-information-row-two-items {
  display: inline-flex;
  vertical-align: middle;
  text-decoration: none;
}

.last-row {
  padding-bottom: 10px;
}

.discount-button button {
  @include buying-button;
  width: 92%;
}

.discount-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

.order-total-sum {
  padding-top: 15px;
  display: inline-flex;
  font-weight: 600;
  justify-content: space-between;
  width: 100%;
}

.order-delivery-information-wrapper {
  text-align: left;
}

.order-delivery-information {
  font-weight: 500;
  display: inline-flex;
  width: 100%;
}

.icon-display {
  transform: scale(.8);
}

.inline-components {
  display: inline-flex;
  width: 100%;
  justify-content: end;
}
