@mixin profile-page-header {
  align-items: center;
  background: white;
  border: 1px solid #e1e1e1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  height: 50px;
  padding: 0 0 0 50px;
}

@mixin profile-page-container {
  font-family: Roboto, sans-serif;
  margin: 0 0 0 206px;
  padding: 0 0 20px 40px;
  width: 82%;
}

@mixin profile-page-details {
  background: white;
  border-right: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
}

@mixin card-container-3 {
  width: 33.33%;
}

@mixin card-container-2 {
  width: 50%;
}

@mixin card-container-1 {
  width: 100%;
}

@mixin card-container {
  background: white;
  float: left;
  width: 25%;
  border: 1px solid #e1e1e1;
  min-height: auto;
  transition: height 0.1s;
}

@mixin card-display-container {
  width: 82%;
  display: inline-block;
  overflow: hidden;
  padding: 0 0 10px 40px;
}

@mixin item-link {
  text-underline: none;
  color: #302d2d;
  font-size: 14px;
}

@mixin item-image-in-card {
  width: 85%;
  height: 130px
}

@mixin buying-button {
  width: 82%;
  color: white;
  background: #ed1c24;
}

@mixin small-details {
  display: grid;
  font-size: 14px;
  padding: 5px 25px 10px 25px;
  text-align: left;
}

@mixin orange-button {
  color: white;
  background: #ed1c24;
}

@mixin update-angular-material-radio-outer-circle {
  height: 10px;
  width: 10px;
}

@mixin update-angular-material-radio-inner-circle {
  height: 10px;
  width: 10px;
}

@mixin update-angular-material-radio-button-and-ripple {
  height: 20px; /*double of your required circle radius*/
  width: 20px;  /*double of your required circle radius*/
  left: calc(50% - 10px); /*'10px'-same as your required circle radius*/
  top: calc(50% - 10px); /*'10px'-same as your required circle radius*/
}

@mixin update-angular-material-radio-container {
  height: 10px;
  width: 10px;
}

@mixin override-radio-button-label-to-break-words {
  white-space: break-spaces;
}

@mixin title-style {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

@mixin information-text-style {
  color: #555;
  font-size: 11px;
  font-weight: 500;
}
