.profile-menu {
  background: white;
  border: 1px solid #e1e1e1;
  float: left;
  margin: 15px 15px 15px 380px;
  text-align: left;
  width: 10%;
}

.profile-menu button {
  font-font: Roboto;
  font-size: 16px;
  height: 60px;
  text-align: left;
  width: 100%;
}

.clicked {
  color: orange;
}
