.profile-menu {
  background: white;
  border: 1px solid #e1e1e1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  float: left;
  text-align: left;
  width: 18%;
}

.profile-menu button {
  font-font: Roboto;
  font-size: 16px;
  height: 60px;
  text-align: left;
  width: 100%;
}

.clicked {
  color: orange;
}
