@import "src/mixin";

.viewed-display {
  @include profile-page-container;
}

.viewed-header {
  @include profile-page-header;
}

.viewed-card-display-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.viewed-card-container {
  @include card-container;
  height: 350px;
  padding: 20px;
}

.viewed-item-link {
  @include item-link;
  font-size: 12px;
  font-family: Roboto;
}

.viewed-item-link-box {
  text-align: left;
}

@media screen and (max-width: 1200px) {
  .card-container {
    @include card-container-3;
  }
}

@media screen and (max-width: 800px) {
  .card-container {
    @include card-container-2;
  }
}

@media screen and (max-width: 500px) {
  .card-container {
    @include card-container-1;
  }
}

.viewed-image {
}

.viewed-image img {
  @include item-image-in-card;
}

.viewed-card-display-container:hover {
}

.wishlist-to-cart-button {
  @include buying-button;
}

.color-wishlist-false {
  color: gray;
}

.color-wishlist-true {
  color: green;
}
